@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Slab:300,400,700|Roboto:100,300,400,500,700');

$mainColor: #1A237E;
$mainTransition: all .2s ease-in-out;

// Mixin for transition
@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
}

// Shortcut for flexbox
@mixin flex() {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex
}

// No appearance shortcut
@mixin noappearance() {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}

body {
  margin: 0;
  background-color: #ECEFF1;
  font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, .54);
}

:-moz-placeholder { 
   color: rgba(0, 0, 0, .54);
}

::-moz-placeholder {
   color: rgba(0, 0, 0, .54);
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, .54);
}

.page-title,
.title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 300;
}

.title {
  font-size: 36px;
}

.section-text {
  margin-top: 0;
  margin-bottom: 12px;

  &.error {
    color: #EF5350;
  }
}

a {
  color: #2196F3;
  @include transition($mainTransition);

  &:hover {
    color: #0D47A1;
  }
}

button {
  font: inherit;
  border: 0;
  outline-width: 0;
  cursor: pointer;
  @include noappearance();
}

.btn {
  padding: 6px 12px;
  text-align: center;
  color: $mainColor;
  background-color: #FFFFFF;
  box-sizing: border-box;
  @include transition($mainTransition);

  &:hover {
    background-color: rgba(255, 255, 255, .7);
  }

  &.md-btn {
    padding: 0 12px;
    line-height: 36px;
    vertical-align: middle;
    color: inherit;
    background: none;
    border-radius: 3px;

    &:hover {
      background-color: rgba(0, 0, 0, .08);
    }

    &:active {
      background-color: rgba(0, 0, 0, .16)
    }
  }
}

label,
.label {
  margin-bottom: 4px;
  display: block;
}

input,
textarea {
  font: inherit;
  border: 0;
  outline-width: 0;
  @include noappearance();
}

textarea {
  resize: none;
}

.input,
#login input,
#register input {
  margin-bottom: 12px;
  padding: 6px 12px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, .24);
  box-sizing: border-box;
  @include transition($mainTransition);

  &:focus {
    background-color: rgba(255, 255, 255, .3);
  }
}

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  color: #FFFFFF;
  background-color: $mainColor;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  z-index: 100;

  &.no-shadow {
    box-shadow: none;
  }

  &.white {
    color: $mainColor;
    background-color: #FFFFFF;

    .btn-container {
      .btn:hover {
        color: rgba($mainColor, .7);
      }
      
      .register-btn {
        color: #FFFFFF;
        background-color: $mainColor;

        &:hover {
          color: $mainColor;
          background-color: #FFFFFF;
        }
      }
    }
  }

  .site-title {
    float: left;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
  }

  .btn-container {
    float: right;

    .btn {
      padding: {
        top: 0;
        bottom: 0;
        left: 24px;
        right: 24px;
      }
      color: inherit;
      background: none;
      text-decoration: none;
      display: inline-block;

      &:hover {
        color: rgba(255, 255, 255, .7);
      }  
    }

    .login-btn:last-child {
      margin-right: -24px;
    }

    .register-btn, {
      margin-right: -24px;
      color: $mainColor;
      background-color: #FFFFFF;
      
      &:hover {
        color: $mainColor;
        background-color: rgba(255, 255, 255, .7);
      }
    }

    .logout-btn {
      margin-right: -24px;
    }
  }
}

.fullsize-section {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  background-color: $mainColor;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;

  a {
    color: #FFFFFF;

    &:hover {
      color: rgba(255, 255, 255, .7);
    }
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

#login,
#register {
  padding: 96px 48px 0;

  .page-title,
  .section-text {
    text-align: right;
  }

  form {
    float: right;
    width: 350px;

    dl, dd {
      margin: 0;
    }

    input {
      width: 100%;
    }

    .info {
      display: none;
    }

    dd.error {
      margin-top: -8px;
      padding-bottom: 12px;
      color: #EF5350;
    }

    .submit-btn {
      margin-top: 12px;
      margin-bottom: 12px;
      width: 100%;
    }
  }
}

#main {
  margin-top: 64px;
  padding: {
    top: 48px;
    left: 96px;
    right: 96px;
  }
}

#write-note {
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  width: 600px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

  .note-title {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;

    .note-title-input {
      width: 100%;
      background: none;
    }
  }

  .note-content {
    height: 0;
    font-family: 'Roboto Slab', sans-serif;
    opacity: 0;
    display: none;
    transition: height .2s ease-in-out, opacity .4s ease-in-out;
    -moz-transition: height .2s ease-in-out, opacity .4s ease-in-out;
    -webkit-transition: height .2s ease-in-out, opacity .4s ease-in-out;
    -ms-transition: height .2s ease-in-out, opacity .4s ease-in-out;

    .note-content-input {
      width: 100%;
      height: auto;
      background: none;
    }
  }

  .toolbar {
    width: 100%;
    height: 0;
    opacity: 0;
    display: none;
    transition: height .3s ease-in-out, opacity .6s ease-in-out;
    -moz-transition: height .3s ease-in-out, opacity .6s ease-in-out;
    -webkit-transition: height .3s ease-in-out, opacity .6s ease-in-out;
    -ms-transition: height .3s ease-in-out, opacity .6s ease-in-out;

    .color-balls  {
      margin-left: -3px;
      margin-right: -3px;

      .color-ball {
        float: left;
        margin-left: 3px;
        margin-right: 3px;
        width: 34px;
        height: 34px;
        border: 1px solid #FFFFFF;
        border-radius: 100%;
        display: inline-block;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .21);
        cursor: pointer;
      }
    }

    .btn-container {
      float: right;
      margin-right: -12px;
    }
  }
}

#notes {
  padding-top: 48px;
  padding-bottom: 48px;

  .grid-sizer {
    width: 25%;
  }

  .note {
    margin: {
      top: 24px;
      left: 12px;
      right: 12px;
    }
    padding: 12px 18px;
    width: calc(25% - 24px);
    min-height: 100px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    box-sizing: border-box;

    .note-title {
      margin: 0;
      margin-bottom: 6px;
      font-family: 'Roboto Condensed', sans-serif;
    }

    .note-content {
      margin: 0;
      font-size: 24px;
      font-family: 'Roboto Slab', sans-serif;
      font-weight: 300;
    }

    .delete-btn {
      position: absolute;
      right: 18px;
      bottom: 12px;
      padding: 0;
      line-height: 1;
      font-size: 18px;
      display: none;

      &:hover {
        color: rgba(0, 0, 0, .54);
        background: none;
      }
    }

    &:hover .delete-btn {
      display: block;
    }
  }
}