@(loginForm: Form[LoginData])(implicit messages: Messages)

@import helper._

@main("Login") {
  <header id="site-header" class="site-header white">
    <h1 class="site-title">Keep Clone</h1>
    <section class="btn-container">
      <a href="/register" class="register-btn btn">Register</a>
    </section>
  </header>

  <section id="login" class="login fullsize-section">
    <h1 class="page-title">Login</h1>
    <section class="oauth-btn-container">
      <div class="google-login login-btn g-signin2" data-width="350" data-onsuccess="onSignIn"></div>
      <a href="https://github.com/login/oauth/authorize?client_id=a7a2de238eb384ce3d08" class="github-login login-btn raised md-btn btn">
        <img class="logo" src="@routes.Assets.versioned("images/oauth/github-white.png")" alt="GitHub logo">
        Sign in with GitHub
      </a>
    </section>
    @form(action = routes.UserController.loginUser()) {
      @inputText(loginForm("username"), '_label -> "Username")
      @inputPassword(loginForm("password"), '_label -> "Password")
      <button class="submit-btn btn" type="submit">Login</button>
    
      <p class="section-text">Don't have an account? <a href="/register">Register one</a></p>
    }
  </section>

  <script>
    function onSignIn(googleUser) {
      OAuth.google(googleUser);
    }
  </script>
}