@(title: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/masonry.pkgd.min.js")"></script>
  </head>
  <body>

    @content

    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
  </body>
</html>