@(notes: Array[Note])

@main("Notes") {
  <header id="site-header" class="site-header">
    <h1 class="site-title">Keep Clone</h1>
    <section class="btn-container">
      <a href="/logout" class="logout-btn btn">Logout</a>
    </section>
  </header> 
  <main id="main" class="main">
    <section id="write-note" class="write-note" data-color="#FFFFFF">
      <header class="note-title-container">
        <h4 class="note-title">
          <input class="note-title-input" placeholder="Title">
        </h4>
      </header>
      <section class="note-content">
        <textarea class="note-content-input" placeholder="Take a note..."></textarea>
      </section>
      <footer class="toolbar">
        <section class="color-balls">
          <span class="color-ball" style="background-color: #FFFFFF" data-color="#FFFFFF"></span>
          <span class="color-ball" style="background-color: #80D8FF" data-color="#80D8FF"></span>
          <span class="color-ball" style="background-color: #FFD180" data-color="#FFD180"></span>
          <span class="color-ball" style="background-color: #B388FF" data-color="#B388FF"></span>
          <span class="color-ball" style="background-color: #FF8A80" data-color="#FF8A80"></span>
        </section>
        <section class="btn-container">
          <button class="cancel-btn md-btn btn">Cancel</button>
          <button class="save-btn md-btn btn">Save</button>
        </section>
      </footer>
    </section>
    <section id="notes" class="notes grid">
      <div class="grid-sizer"></div>

      @for(note <- notes.reverse) {
        <article 
          id="@note.id.toString" 
          class="note grid-item"
          style="background-color: @note.color"
          
          data-owners='@{ 
            var owners = "["
            note.owners.foreach(i => owners += "\"" + i.replaceAll("[\"]", """\\\"""") + "\",")
            owners = owners.substring(0, owners.length - 1)
            owners += "]"
            owners
          }'
          >
          @if(note.title.length > 0) {
            <h4 class="note-title">@note.title</h4>
          }
          @if(note.content.length > 0) {
            <p class="note-content">
              @note.content
            </p>
          }
          <div class="note-action-container">
            <button class="material-icons share-btn md-btn btn">person_add</button>
            <button class="material-icons edit-btn md-btn btn">edit</button>
            <button class="material-icons delete-btn md-btn btn">delete</button>
          </div>
        </article>
      }
    </section>
  </main>
}