@(userForm: Form[UserData])(implicit messages: Messages)

@import helper._

@main("Register") {
  <header id="site-header" class="site-header white">
    <h1 class="site-title">Keep Clone</h1>
    <section class="btn-container">
      <a href="/login" class="login-btn btn">Login</a>
    </section>
  </header>

  <section id="register" class="register fullsize-section">
    <h1 class="page-title">Register</h1>
    <section class="oauth-btn-container">
      <div class="google-login login-btn g-signin2" data-width="350" data-onsuccess="onSignIn"></div>
      <a href="https://github.com/login/oauth/authorize?client_id=a7a2de238eb384ce3d08" class="github-login login-btn raised md-btn btn">
        <img class="logo" src="@routes.Assets.versioned("images/oauth/github-white.png")" alt="GitHub logo">
        Sign in with GitHub
      </a>
      <a href="https://www.facebook.com/v2.8/dialog/oauth?client_id=847737378702820&redirect_uri=http%3A%2F%2Flocalhost:9000/oauth/facebook&scope=email" class="facebook-login login-btn raised md-btn btn">
        <img class="logo" src="@routes.Assets.versioned("images/oauth/facebook-white.png")" alt="Facebook logo">
        Sign in with Facebook
      </a>
    </section>
    @form(action = routes.UserController.registerUser()) {
      @inputText(userForm("username"), '_label -> "Username")
      @inputText(userForm("email"), '_label -> "Email")
      @inputText(userForm("firstName"), '_label -> "First name")
      @inputText(userForm("lastName"), '_label -> "Last name")
      @inputPassword(userForm("password"), '_label -> "Password")
      <button class="submit-btn btn" type="submit">Register</button>
    
      <p class="section-text">Already have an account? <a href="/login">Login</a></p>
    }
  </section>

  <script>
    function onSignIn(googleUser) {
      OAuth.google(googleUser);
    }
  </script>
}