@(username: String, user: User)

@main("Settings") {
  <header id="site-header" class="site-header">
    <h1 class="site-title">Keep Clone</h1>
    <section class="btn-container">
      <a href="/logout" class="logout-btn btn">Logout</a>
    </section>
  </header>
  <main id="main" class="main">
    <h1 class="page-title">Settings <span class="grey">@@@username</span></h1>
    <section id="settings" class="settings">
      <section class="username-field settings-field">
        <label class="field-label">Username:</label>
        <h3 class="field-title"><span class="title-content">@username</span></h3>
      </section>
      <section class="email-field settings-field" data-name="email">
        <label class="field-label">Email adress:</label>
        <h3 class="field-title"><span class="title-content">@user.email</span> <span class="material-icons edit-btn">edit</span></h3>
      </section>
      <section class="firstName-field settings-field" data-name="firstName">
        <label class="field-label">First name:</label>
        <h3 class="field-title"><span class="title-content">@user.firstName</span> <span class="material-icons edit-btn">edit</span></h3>
      </section>
      <section class="lastName-field settings-field" data-name="lastName">
        <label class="field-label">Last name:</label>
        <h3 class="field-title"><span class="title-content">@user.lastName</span> <span class="material-icons edit-btn">edit</span></h3>
      </section>
      <section class="password-field settings-field" data-name="password">
        <label class="field-label">Password</label>
        <h3 class="field-title"><span class="title-content">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span> <span class="material-icons edit-btn">edit</span></h3>
      </section>
      <section class="delete-field settings-field">
        <label class="field-label">Delete account</label>
        <button id="delete-account-btn" class="delete-account-btn raised md-btn btn">Delete account</button>
      </section>
    </section>
  </main>
}